<div class="container">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-8 mx-auto">
            <div class="card">
                <div class="col-md-10 ps-md-0">
                  <div class="row">
                    <div class="col-lx-12 mt-xxl-4">
                        <div class="ms-xxl-6 mb-6">
                            <h2>แบบคัดกรองภาวะซึมเศร้าด้วย 2 คำถาม (2Q)</h2>
                        </div>
                        <div class="col-lx-8 ">
                            <div class="ms-xxl-6 mb-3">
                               <div class="d-grid gap-2">
                                  <button type="button" class="btn btn-primary" [routerLink]="['/assessment/assessment2q']"[queryParams]="{pid:pid}">เริ่มทำแบบประเมิน</button>
                               </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>