<div class="container">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-12 mx-auto">
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="font-size: 25px;">ข้อมูลประชาชนกลุ่มเสี่ยง</h6>
                            <form [formGroup]="form">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label">เลขบัตรประจำตัวประชาชน</label>
                                            <input type="text" class="form-control" name="cid" formControlName="cid"
                                                readonly>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-1">
                                        <div class="mb-3">
                                            <label class="form-label">คำนำหน้า</label>
                                            <input type="text" class="form-control" name="prefix"
                                                formControlName="prefix" readonly>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label">ชื่อ</label>
                                            <input type="text" class="form-control" name="fname" formControlName="fname"
                                                readonly>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label">สกุล</label>
                                            <input type="text" class="form-control" name="lname" formControlName="lname"
                                                readonly>
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label">วันเดือนปีเกิด</label>
                                            <input class="form-control mb-4 mb-md-0" name="birthday"
                                                formControlName="birthday" mask="00/00/0000" placeholder="วว/ดด/ปปปป"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">เบอร์โทร</label>
                                            <input type="text" class="form-control" name="phone" formControlName="phone"
                                                readonly>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">อายุ</label>
                                            <input type="text" class="form-control" name="phone" formControlName="birthday" value="{{ form.value.birthday | age}}"
                                                readonly>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">บ้านเลขที่</label>
                                            <input type="text" class="form-control" name="bannumber"
                                                formControlName="bannumber" readonly>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">หมู่</label>
                                            <input type="text" class="form-control" name="moo" formControlName="moo"
                                                required>
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">จังหวัด</label>
                                            <input type="text" class="form-control" name="province"
                                                formControlName="province">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">อำเภอ</label>
                                            <input type="text" class="form-control" name="district"
                                                formControlName="district">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">ตำบล</label>
                                            <input type="text" class="form-control" name="subdistrict"
                                                formControlName="subdistrict">
                                        </div>
                                    </div><!-- Col -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Google Map-->
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-12 mx-auto">
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="font-size: 25px;">Location</h6>
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">lat</label>
                                            <input type="text" class="form-control" name="latitude"
                                                [value]="form.value.latitude">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">lng</label>
                                            <input type="text" class="form-control" name="longitude"
                                                [value]="form.value.longitude">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 d-flex align-items-end">
                                        <div class="mb-3 w-100">
                                            <button class="btn btn-outline-primary mt-2" (click)="openInGoogleMaps()">
                                                เปิดใน Google Maps
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <google-map height="500px" width="100%" [center]="center" [zoom]="zoom">
                                    <map-marker *ngFor="let marker of markers" [position]="marker.position"
                                        [label]="{ text: marker.label, color: 'black' }" [title]="marker.label"
                                        container="body">
                                    </map-marker>
                                </google-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>