<div class="container">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-12 mx-auto">
            <div class="row">
            <div class="card">
                <div class="row">
                    <div class="col-lx-8 col-lx-12">
                        <div class="mb-4">
                            <h2 style="text-align: center;">ระบบสารสนเทศเพื่อการติดตามผลการคัดกรองประชาชนกลุ่มเสี่ยง</h2>
                        </div>
                    </div>
                    <div class="col-lx-8">
                        <div class="mb-4">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-primary" [routerLink]="['/register-patient/register']">สำหรับประชาชน</button>
                                <button type="button" class="btn btn-secondary" [routerLink]="['/register-patient/registertwo']">สำหรับเจ้าหน้าที่</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>