<div class="container">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-7 mx-auto">
            <div class="card">
                <div class="row">
                    <div class="col-md-4 pe-md-0">
                        <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url('+imgUrl+')' }">

                        </div>
                    </div>
                    <div class="col-md-8 ps-md-0">
                        <div class="auth-form-wrapper px-4 py-5">
                            <a routerLink="." class="nobleui-logo d-block mb-2">Smart Home WAM<span>&nbsp;V - Care
                                </span>Central</a>
                            <h5 class="text-secondary fw-normal mb-4">forgot-password</h5>
                            <form [formGroup]="form">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email">
                                </div>
                                <div>
                                    <input type="button" class="btn btn-primary" (click)="onsubmit()" value="send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>