<div class="container">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-12 mx-auto">
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" style="font-size: 25px;">ลงทะเบียนประชาชนกลุ่มเสี่ยง</h6>
                            <form [formGroup]="form">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label">เลขบัตรประจำตัวประชาชน</label>
                                            <input type="text" class="form-control" name="cid" formControlName="cid"
                                                required>
                                        </div>
                                        <div *ngIf="form.controls['cid'].hasError('minlength')">
                                            <p style="color: red;">เลขบัตรประจำตัวประชาชน ไม่ครบ 13 หลัก </p>
                                        </div>
                                        <div *ngIf="form.controls['cid'].hasError('maxlength')">
                                            <p style="color: red;">กรอกเลขเกิน 13 หลัก </p>
                                        </div>
                                        <div *ngIf="form.controls['cid'].hasError('required')">
                                            <p style="color: red;">{{ errorMessage }} </p>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-1">
                                        <div class="mb-3">
                                            <label class="form-label">คำนำหน้า</label>
                                            <select class="form-select form-select-sm mb-3" name="prefix" formControlName="prefix" required>
                                                <option selected>เลือก</option>
                                                <option value="นาย">นาย</option>
                                                <option value="นาง">นาง</option>
                                                <option value="น.ส.">น.ส.</option>
                                                <option value="ด.ช.">ด.ช.</option>
                                                <option value="ด.ญ.">ด.ญ.</option>
                                            </select>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label">ชื่อ</label>
                                            <input type="text" class="form-control" name="fname" formControlName="fname" required>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label">สกุล</label>
                                            <input type="text" class="form-control" name="lname" formControlName="lname" required>
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label">เบอร์โทร</label>
                                            <input type="text" class="form-control" name="phone" formControlName="phone">
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">บ้านเลขที่</label>
                                            <input type="text" class="form-control" name="banumber" formControlName="banumber" required>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">หมู่</label>
                                            <input type="text" class="form-control" name="moo" formControlName="moo" required>
                                        </div>
                                    </div><!-- Col -->
                                </div><!-- Row -->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">จังหวัด</label>
                                            <select class="form-select form-select-sm mb-3" formControlName="province" required>
                                                <option selected>เลือก</option>
                                                <option *ngFor="let p of provinces" [ngValue]="p">{{ p.name_th }}
                                                </option>
                                            </select>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">อำเภอ</label>
                                            <select class="form-select form-select-sm mb-3" formControlName="district"
                                                [disabled]="!districts.length" required="">
                                                <option selected>เลือก</option>
                                                <option *ngFor="let d of districts" [ngValue]="d">{{ d.name_th }}
                                                </option>
                                            </select>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">ตำบล</label>
                                            <select class="form-select form-select-sm mb-3"
                                                formControlName="subdistrict" [disabled]="!subdistricts.length" required>
                                                <option selected>เลือก</option>
                                                <option *ngFor="let t of subdistricts" [ngValue]="t">{{ t.name_th }}
                                                </option>
                                            </select>
                                        </div>
                                    </div><!-- Col -->
                                    <div class="mb-3">
                                        <label for="">ปักหมุดที่อยู่</label>
                                        <google-map height="400px" width="750px" [center]="center" [zoom]="zoom"
                                            (mapClick)="addMarker($event)">
                                            <map-marker *ngFor="let position of markerPositions" [position]="position"
                                                [options]="markerOptions">
                                            </map-marker>
                                        </google-map>
                                    </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                          <div class="mb-3">
                                              <label class="form-label">lat</label>
                                              <input type="text" class="form-control" name="latitude" formControlName="latitude" required>
                                          </div>
                                      </div><!-- Col -->
                                         <div class="col-sm-2">
                                          <div class="mb-3">
                                              <label class="form-label">lng</label>
                                              <input type="text" class="form-control" name="longitude" formControlName="longitude" required>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-primary submit" (click)="onSubmit()" [disabled]="form.invalid">Submit form</button>   
                                    </div>
                                </div><!-- Col -->
                            </div><!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>